@mixin basic-box-shadow($color) {
  box-shadow: 3px 3px 5px 5px $color, 1px 0px 1px $color;
}

$main-color: rgb(0, 0, 104);
$accent-color: darken($main-color, 20%);
$background-color: lighten($main-color, 60%);

// LAYOUT

body {
  background-color: $background-color;
  color: white;
  display: flex;
  flex-direction: column;
}


// TYPOGRAPHY
h2 {
  font-size: 3rem;
}